@mixin input-minus-plus($icon, $position){
    position: absolute;
    left: $position;
    top: 0;
    width: 30%;
    height: 100%;

    &::after{
        content: $icon;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@mixin set-menu-activation($url, $position, $width, $height) {
    top: $position;
    left: 0;
    width: $width;
    min-height: $height;
    display: flex;
    flex-direction: column;
    align-items: start;
    label::before{
        content: $url;
    }
}