@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    font-size: 62,5%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.app{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 340px;
    position: relative;
}